/* Contact form container */
.contact-form-container {
    width: 100%;
    max-width: 1200px;
    min-height: 75vh;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Heading style */
  .contact-heading {
    text-align: center;
  }
  
  .contact-description {
    text-align: center;
    font-size: 1.1rem;
  }
  
  /* Container for form and contact information */
  .contact-content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  /* Form container */
  .contact-form {
    width: 45%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 15px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #333;
  }
  
  .error {
    color: red;
    font-size: 0.9rem;
  }
  
  .form-status {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 15px;
  }
  
  /* Contact information container */
  .contact-info {
    width: 45%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .contact-info-heading {
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .contact-info-text {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .consent-container {
    display: flex;
    align-items: center;
  }
  
  .consent-container {
    display: flex;
    align-items: center;
  }
  
  .consent-container input[type="checkbox"] {
    margin: 0;
  }
  
  
  